.filter {
  display: flex;
  flex-direction: column;
  padding: 14px 0;

  form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 500px;
    justify-content: space-between;
    flex-wrap: wrap;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 3px 0;

      label {
        min-width: 140px;
      }
    }

    button {
      align-self: flex-start;
    }

    input {
      margin: 0 5px;
      max-width: 160px;
      min-width: 160px;
    }

    .resetFilter {
      border: none;
      background: none;
      color: red;
      font-weight: bold;
      font-size: 20px;
    }
  }
}